{%extends "admin/layout.njk"%}

{%block head%}
    <title>AdminFoodfy-create</title>
{%endblock head%}

{% block content %}
    <div id="top-content">
        <h1>Criação de chefs</h1>
    </div>

    <form action="/admin/chefs" method="POST">

        <div class="item-form">
            <div>Nome do chef</div>
            <div>
                <input type="text"
                    name="name"
                    placeholder="Digite o nome do chef">
            </div>
        </div>

        <div class="item-form" id="file-image"></div>

        <div class="item-form">
            <div>Avatar</div>
            <div id=image-upload>
                <input type="file" 
                    id="image-input"
                    name="photo"
                    multiple="multiple"
                    accept="image/*"
                    onchange="ImageUpload.chef(event)">

                <p id="send-avatar">Enviar avatar</p>
                
            </div>
        </div>


        <button class="editButton" type="submit">SALVAR</button>


    </form>

{%endblock content%}