{%extends "admin/layout.njk"%}

{%block head%}
    <title>AdminFoodfy-chef-edit</title>
{%endblock head%}

{% block content %}
    <div id="top-content">
        <h1>Edição de chefs</h1>
    </div>

    <form action="/admin/chefs?_method=PUT" method="POST" enctype="multipart/form-data">

        {%include "admin/chefs/fields.njk"%}

        <input type="hidden" name="id_chef" value="{{chef.id_chef}}">
        <input type="hidden" name="file_id" value="{{chef.file_id}}">


        <button class="editButton" type="submit">SALVAR</button>

    </form>

    <form id="form_delete" action="/admin/chefs?_method=DELETE" method="POST">
        <input type="hidden" name="id_chef" value="{{chef.id_chef}}">
        <input type="hidden" name="file_id" value="{{chef.file_id}}">
        <input type="hidden" id="total_recipes" name="total_recipes" value={{chef.total_recipes}}>
        <button id="delete-chef" class="delete-chef" type="submit">DELETAR</button>
    </form>

{%endblock content%}