{%extends "admin/layout.njk"%}

{%block content%}
    <h1>Chef: {{chef.name}}</h1>

    <button id="editChef" class="add-button">Editar chef</button>

    <div class="chef-show">
        <div class="chef-image" style="background: url({{chef.avatar_url}}/500x500) no-repeat center center / cover">
        </div>
        <div>
            <h2>{{chef.name}}</h2>
            <p>{{total_recipes}} receitas</p>
        </div>
    </div>

    <div class="all-recipes">

        <div class="recipes"> 

            {% for recipe in recipes %}
                <div class="link-show" id="{{recipe.id}}">
                    <div class="recipe" style="background: url({{recipe.image}})no-repeat center center/cover"></div>
                    <div>
                        <h4>{{ recipe.title }}</h4>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{%endblock content%}

{%block script%}
    <script>
        const editChef = document.getElementById("editChef")
        editChef.addEventListener("click", function () {
            window.location.href = `/admin/chefs/{{chef.id}}/edit`
        })
    </script>
{%endblock script%}