{%extends "admin/layout.njk"%}

{%block head%}
    <title>AdminFoodfy-create</title>
{%endblock head%}

{% block content %}
    <div id="top-content">
        <h1>Criação de receitas</h1>
    </div>
    
    <form action="/admin/recipes" method="POST" enctype="multipart/form-data">
        {%include "recipes/fields.njk"%}
    </form>
{% endblock content %}