{%extends "admin/layout.njk"%}

{%block head%}
    <title>AdminFoodfy-create</title>
{%endblock head%}

{% block content %}
    <div id="top-content">
        <h1>Criação de chefs</h1>
    </div>

    <form action="/admin/chefs" method="POST" enctype="multipart/form-data">

        {%include "admin/chefs/fields.njk"%}

        <button class="editButton" type="submit">SALVAR</button>
 
    </form>

{%endblock content%}