{%extends "layout.njk"%}

{% block head%}
    <title>Sobre</title>
{%endblock head%}

{%block content%}
    <div class="about-foodfy">
        <h2>Sobre o Foodfy</h2>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum omnis quis debitis ipsa impedit dolorem, autem labore cumque dolores. Optio iste ipsam nemo similique repellat quidem, magni numquam voluptas facere? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere, ipsum. Illum odit distinctio, praesentium repudiandae sunt mollitia tempore hic veritatis, dignissimos doloribus dolores ipsa commodi exercitationem sed debitis voluptatum officia!
        </p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum omnis quis debitis ipsa impedit dolorem, autem labore cumque dolores. Optio iste ipsam nemo similique repellat quidem, magni numquam voluptas facere? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere, ipsum. Illum odit distinctio, praesentium repudiandae sunt mollitia tempore hic veritatis, dignissimos doloribus dolores ipsa commodi exercitationem sed debitis voluptatum officia!
        </p>

        <h3>Como tudo começou...</h3>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum omnis quis debitis ipsa impedit dolorem, autem labore cumque dolores. Optio iste ipsam nemo similique repellat quidem, magni numquam voluptas facere? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere, ipsum. Illum odit distinctio, praesentium repudiandae sunt mollitia tempore hic veritatis, dignissimos doloribus dolores ipsa commodi exercitationem sed debitis voluptatum officia!
        </p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum omnis quis debitis ipsa impedit dolorem, autem labore cumque dolores. Optio iste ipsam nemo similique repellat quidem, magni numquam voluptas facere? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere, ipsum. Illum odit distinctio, praesentium repudiandae sunt mollitia tempore hic veritatis, dignissimos doloribus dolores ipsa commodi exercitationem sed debitis voluptatum officia!
        </p>

        <h4>Nossas receitas</h4>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis amet temporibus accusantium facilis sed natus necessitatibus, dolores sapiente, quod est voluptas. Magnam odit eum saepe commodi. Assumenda facere enim repellat?oi
        </p>

    </div>
{%endblock content%}