{%extends "layout.njk"%}

{%block content%}
    <div class="chefs"><h1>Chefs</h1></div>

    <div id="chefs" class="content-page chef">
        {% for chef in chefs %}
            <div class="chef_list">

                <div class="image-div-chef" style="background: url({{chef.src}}) no-repeat center center / cover"></div>
                <div class="chef-info">
                    <h4>{{ chef.name_chef }}</h4>
                    <p>{{chef.total_recipes}} receitas</p>
                </div>

            </div>
        {% endfor %}

    </div>
{%endblock content%}