<div class="header_card">
    <a href="/">
        <img id="logo" src="/images/logo.png" alt="Logo">
    </a>

    <div class="menu">
        <a href="/sobre">Sobre</a>
        <a href="/receitas">Receitas</a>
        <a href="/chefs">Chefs</a>
        <a href="/users/login">Entrar</a>
    </div>

    <form class="form_search" action="/receitas" method="GET">
        <input type="text" name="filter" placeholder="Buscar receita" value="{{filter}}">
        <button class="button" type="submit">Filtrar</button>
    </form>

</div>